@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

:root {
    --bgColor: #212121;
    --accentColor: #FFF;
    --font: 'Karla', sans-serif;
}

html {
-webkit-font-smoothing: antialiased;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: var(--font);
    background: var(--bgColor);
    position: relative;
    display: flex;
    flex-direction: column;
}

.wraper {
display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-around;
}

#profilePicture, #profilePicture img {
    position: relative;
    width: 96px;
    height: 96px;
    display: block;
    margin: 40px auto 20px;
    border-radius: 50%;
    -webkit-tap-highlight-color: transparent;
}

h1 {
    color: var(--accentColor);
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    display: block;
    font-family: var(--font);
    width: 100%;
    text-align: center;
}

#links {
    max-width: 675px;
    width: auto;
    display: block;
    margin: 27px auto;
}

.link {
    position: relative;
    background-color: transparent;
    color: var(--accentColor);
    border: solid var(--accentColor) 2px;
    border-radius: 10px;
    font-size: 1rem;
    text-align: center;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 17px;
    padding: 16px;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

@media (hover: hover) {
    .link:hover {
        background-color: var(--accentColor);
        color: var(--bgColor);
    }
}

.link:active {
    background-color: var(--accentColor);
    color: var(--bgColor);
}

#social {
    position: relative;
    display: block;
    text-align: center;
}

i.social {
    color: var(--accentColor);
    font-size: 2rem;
    transition: all .5ms ease-in-out;
}

i.social:hover {
    transform: scale(1.1);
}

#hashtag {
    position: relative;
    padding-top: 20px;
    color: var(--accentColor);
    font-size: .8rem;
    display: block;
    font-family: var(--font);
    width: 100%;
    text-align: center;
}
